.navbar{
	background:#cf5b42;
	padding-right:20px;
}
.botones{
   padding-right:20px;
}
.card{
	opacity: 0.9;
}
.buton{
	 padding-right:20px;
}
.card-block{
	opacity: 0.9;
}
.modal-lg-arr {
    max-width: 1400px !important;
}
.table {

	width: 400%;

	height: 5px;

}

.row {
	opacity: 0.9;
	 %
}
